@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/popins/Poppins-Black.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-light';
  src: url(./assets/fonts/popins/Poppins-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-bold';
  src: url(./assets/fonts/popins/Poppins-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family:  'Careem';
  src: url(./assets/fonts/careem/CareemRegular.ttf);
  font-display: swap;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 7s ease infinite alternate;
  -moz-animation: animatedgradient 7s ease infinite alternate;
  animation: animatedgradient 7s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
}